{
  "mcpServers": {
    "furi": {
      "command": "furi",
      "args": [
        "connect"
      ]
    },
    "context7": {
      "type": "http",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "${CONTEXT7_API_KEY}"
      }
    },
    "playwright": {
      "command": "npx",
      "args": [
        "@playwright/mcp"
      ]
    },
    "hindsight": {
      "type": "http",
      "url": "https://hindsight-api.internal.cartwmic.com/mcp/{{ if eq .profile "axon-work-computer" }}work{{ else }}cartwmic{{ end }}/"
    }
  }
}
