{
  "substitutions": {
    "CONTEXT7_API_KEY": {
      "op": "op://developer/context7 - api key/credential"
    }{{ if eq .profile "axon-work-computer" }},
    "JIRA_MCP_URL": {
      "op": "op://developer/jira - mcp url/credential"
    },
    "SLACK_MCP_URL": {
      "op": "op://developer/slack - mcp url/credential"
    },
    "QUIP_MCP_URL": {
      "op": "op://developer/quip - mcp url/credential"
    },
    "GOOGLE_WORKSPACE_MCP_URL": {
      "op": "op://developer/google-workspace - mcp url/credential"
    },
    "GLEAN_MCP_URL": {
      "op": "op://developer/glean - mcp url/credential"
    },
    "PAGERDUTY_MCP_URL": {
      "op": "op://developer/pagerduty - mcp url/credential"
    },
    "ZOOM_MCP_URL": {
      "op": "op://developer/zoom - mcp url/credential"
    },
    "INCIDENT_IO_MCP_URL": {
      "op": "op://developer/incident.io - mcp url/credential"
    },
    "DEVHUB_MCP_URL": {
      "op": "op://developer/devhub - mcp url/credential"
    }{{ end }}
  }
}
