{
  "substitutions": {
    "CONTEXT7_API_KEY": {
      "op": "op://developer/context7 - api key/credential"
    }{{ if eq .profile "axon-work-computer" }},
    "JIRA_MCP_URL": {
      "op": "op://developer/jira - mcp url/credential"
    },
    "SLACK_MCP_URL": {
      "op": "op://developer/slack - mcp url/credential"
    },
    "GOOGLE_WORKSPACE_MCP_URL": {
      "op": "op://developer/google-workspace - mcp url/credential"
    }{{ end }}
  }
}
