{
  "mcpServers": {
    "context7": {
      "headers": {
        "CONTEXT7_API_KEY": {
          "env": "CONTEXT7_API_KEY",
          "op": "op://developer/context7 - api key/credential"
        }
      }
    },
    "mcp-memory": {
      "headers": {
        "Authorization": {
          "env": "MCP_MEMORY_API_KEY",
          "op": "op://developer/cartwmic-homelab - mcp-memory-service/api key"
        }
      }
    }
  }
}
