-- Place any preconfigured lazyvim plugins here if you want to disable them
return {
  { "akinsho/bufferline.nvim", enabled = false },
  {"cartwmic/diagram.nvim", enabled = false },
  {{- if eq .profile "axon-work-computer" }}
  { "supermaven-inc/supermaven-nvim", enabled = false },{{- end }}
}
